pipeline/Incremental_File_Handler_VM.json
{
	"name": "Incremental_File_Handler_VM",
	"properties": {
		"activities": [
			{
				"name": "IF TRIGGERED",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "set triggerornot parameter",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('triggerornot'), 1)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Terminate the pipeline",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "Trigger Time and the Current Time are not significantly near for the given country",
								"errorCode": "Err : Time not matching"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Copy Data from Incremental Folder to Virtual Landing",
							"description": "Copies the files with Dynamic names to the virtuall landing layer",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFolderPath": "source_datasets",
										"wildcardFileName": {
											"value": "@concat('GSAP_',pipeline().parameters.country_cd,'_MISRCI022_TCURR_',pipeline().parameters.frequency,'*.csv')",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Incremental_Source_VM",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "Incremental_Data_load_landing_DS_VM",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "set triggerornot parameter",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "CHECK THE INGESTION CONFIG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "triggerornot",
					"value": {
						"value": "@activity('CHECK THE INGESTION CONFIG').output.firstRow.Triggerornot",
						"type": "Expression"
					}
				}
			},
			{
				"name": "CHECK THE INGESTION CONFIG",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[Check_Trigger_Valid_VM]",
						"storedProcedureParameters": {
							"config_id": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.config_id",
									"type": "Expression"
								}
							},
							"country_name": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.country_cd",
									"type": "Expression"
								}
							},
							"Frequency": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.frequency",
									"type": "Expression"
								}
							},
							"triggerornot": {
								"type": "Int16",
								"value": {
									"value": "@pipeline().parameters.triggerornot",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Ingestion_config_table_VM",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Get all Incremental Files",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "set the load_id from table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Incremental_files_TL_VM",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "For each incremental file",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter only the file types",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter only the file types').output.Value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy incremental data to landing",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "filename",
											"value": "$$FILENAME"
										},
										{
											"name": "load_id",
											"value": {
												"value": "@variables('load_id')",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFolderPath": "vinayvm/test_landing",
										"wildcardFileName": {
											"value": "@item().name",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Incremental_temp_landing_copy_DS_VM",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "Incremental_foreach_landing",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Store the load_id into temp var",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Execute Incremental Transformation Pipeline",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "temp_load_id",
								"value": {
									"value": "@variables('load_id')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Increment the load_id",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Store the load_id into temp var",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "load_id",
								"value": {
									"value": "@add(variables('temp_load_id'),1)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Execute Incremental Transformation Pipeline",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Set total_rows_inserted",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "VM_Incremental_Transformation_Bronze_2_Gold",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"load_id": {
										"value": "@variables('load_id')",
										"type": "Expression"
									},
									"country_code": {
										"value": "@pipeline().parameters.country_cd",
										"type": "Expression"
									},
									"frequency": {
										"value": "@pipeline().parameters.frequency",
										"type": "Expression"
									},
									"file_size": {
										"value": "@variables('file_size')",
										"type": "Expression"
									},
									"total_rows_inserted": {
										"value": "@variables('total_rows_inserted')",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Set file_size",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Copy incremental data to landing",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "file_size",
								"value": {
									"value": "@activity('Copy incremental data to landing').output.dataWritten",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set total_rows_inserted",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set file_size",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "total_rows_inserted",
								"value": {
									"value": "@activity('Copy incremental data to landing').output.rowsCopied",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Delete all the incremental data after proc",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "For each incremental file",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Test_land_DEL_CSV_VM",
						"type": "DatasetReference"
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"wildcardFileName": "*.csv",
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Filter only the file types",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get all Incremental Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get all Incremental Files').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().type,'File')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get the max_load_id",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "IF TRIGGERED",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(load_id) as max_loadId from uc3_data_VM.data_table_VM",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "CS1_data_table_VM",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "set the load_id from table",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get the max_load_id",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "load_id",
					"value": {
						"value": "@add(activity('Get the max_load_id').output.firstRow.max_loadId,1)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"config_id": {
				"type": "int",
				"defaultValue": 4
			},
			"country_cd": {
				"type": "string",
				"defaultValue": "GB"
			},
			"frequency": {
				"type": "string",
				"defaultValue": "Daily"
			},
			"triggerornot": {
				"type": "int",
				"defaultValue": 0
			}
		},
		"variables": {
			"load_id": {
				"type": "Integer",
				"defaultValue": 2
			},
			"triggerornot": {
				"type": "Integer",
				"defaultValue": 0
			},
			"temp_load_id": {
				"type": "Integer",
				"defaultValue": 2
			},
			"file_size": {
				"type": "Integer",
				"defaultValue": 0
			},
			"total_rows_inserted": {
				"type": "Integer",
				"defaultValue": 0
			}
		},
		"folder": {
			"name": "vinayvm/uc3"
		},
		"annotations": [],
		"lastPublishTime": "2024-11-13T14:53:06Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}