pipeline/O8_Enriched_Harmonised_AV.json
{
	"name": "O8_Enriched_Harmonised_AV",
	"properties": {
		"activities": [
			{
				"name": "Lookup - reusable o8_master path from control table",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from dbo.Control_Table_2_AV where ID=3;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Control_Table_SQL_AV",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "enr_unh_to_enr_har_AV",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Lookup - reusable o8_master path from control table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/ankita.veerabahu@shell.com/CS-2_O8/enr_unh_to_enr_har_AV",
					"baseParameters": {
						"read_file_path": {
							"value": "@activity('Lookup - reusable o8_master path from control table').output.firstRow.EnrUnharPath\n",
							"type": "Expression"
						},
						"write_file_path": {
							"value": "@activity('Lookup - reusable o8_master path from control table').output.firstRow.EnrHarPath",
							"type": "Expression"
						},
						"object_name": {
							"value": "@activity('Lookup - reusable o8_master path from control table').output.firstRow.ObjectName",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_ADB_AV",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-11-13T12:08:19Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}