pipeline/O8_Supplier_Pipeline_AV.json
{
	"name": "O8_Supplier_Pipeline_AV",
	"properties": {
		"activities": [
			{
				"name": "Lookup - Control Table file paths",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from dbo.Control_Table_2_AV where ID in (1,2)",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Control_Table_SQL_AV",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach-1 Loop through the control table rows",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup - Control Table file paths",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup - Control Table file paths').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CopyData - Source to Raw",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFolderPath": {
											"value": "@item().SourcePath",
											"type": "Expression"
										},
										"wildcardFileName": {
											"value": "@concat(item().ObjectName,'*.csv')",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "CSV_1_AV",
									"type": "DatasetReference",
									"parameters": {
										"FilePath": {
											"value": "@item().SourcePath",
											"type": "Expression"
										},
										"ObjectName": {
											"value": "@item().ObjectName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "CSV_2_AV",
									"type": "DatasetReference",
									"parameters": {
										"FilePath": {
											"value": "@item().RawPath",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "CopyData - Raw to Acquisition",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "CopyData - Source to Raw",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFolderPath": {
											"value": "@item().RawPath",
											"type": "Expression"
										},
										"wildcardFileName": {
											"value": "@concat(item().ObjectName,'*.csv')",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "CSV_1_AV",
									"type": "DatasetReference",
									"parameters": {
										"FilePath": {
											"value": "@item().RawPath",
											"type": "Expression"
										},
										"ObjectName": {
											"value": "@item().ObjectName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Parquet_CS2_DS_AV",
									"type": "DatasetReference",
									"parameters": {
										"FilePath": {
											"value": "@item().AcqPath",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "acq_to_enr_unh_AV",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "CopyData - Raw to Acquisition",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/ankita.veerabahu@shell.com/CS-2_O8/acq_to_enr_unh_AV",
								"baseParameters": {
									"read_file_path": {
										"value": "@item().AcqPath",
										"type": "Expression"
									},
									"write_file_path": {
										"value": "@item().EnrUnharPath",
										"type": "Expression"
									},
									"object_name": {
										"value": "@item().ObjectName",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_ADB_AV",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Lookup - reusable o8_master path from control table",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ForEach-1 Loop through the control table rows",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from dbo.Control_Table_2_AV where ID=3;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Control_Table_SQL_AV",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "enr_unh_to_enr_har_AV",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Lookup - reusable o8_master path from control table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/ankita.veerabahu@shell.com/CS-2_O8/enr_unh_to_enr_har_AV",
					"baseParameters": {
						"read_file_path": {
							"value": "@activity('Lookup - reusable o8_master path from control table').output.firstRow.EnrUnharPath\n",
							"type": "Expression"
						},
						"write_file_path": {
							"value": "@activity('Lookup - reusable o8_master path from control table').output.firstRow.EnrHarPath",
							"type": "Expression"
						},
						"object_name": {
							"value": "@activity('Lookup - reusable o8_master path from control table').output.firstRow.ObjectName",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_ADB_AV",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-11-14T05:11:13Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}