pipeline/PG_Incremental_Pipeline_CS3.json
{
	"name": "PG_Incremental_Pipeline_CS3",
	"properties": {
		"activities": [
			{
				"name": "Lookup for the Trigger Time",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[CheckTriggerTime_PG]",
						"storedProcedureParameters": {
							"config_id": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.config_id",
									"type": "Expression"
								}
							},
							"country_code": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.country_code",
									"type": "Expression"
								}
							},
							"frequency": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.frequency",
									"type": "Expression"
								}
							},
							"triggerNow": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.triggerNow",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Config_Table_PG",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set the pipeline run variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('pipeline_run'),1)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Fail1",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "The trigger time is not in the acceptable window",
								"errorCode": "Trigger time error"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Copy data to temp incremental landing",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "load_id",
											"value": {
												"value": "@variables('load_id')",
												"type": "Expression"
											}
										},
										{
											"name": "file_name",
											"value": "$$FILENAME"
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFolderPath": {
											"value": "source_datasets",
											"type": "Expression"
										},
										"wildcardFileName": {
											"value": "@concat('GSAP_',pipeline().parameters.Country_Code,'_MISRCI022_TCURR_',pipeline().parameters.Frequency,'_','*.csv')",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Dataset_At_Source_PG",
									"type": "DatasetReference",
									"parameters": {
										"filecountry": "@pipeline().parameters.Country_Code",
										"filefrequency": "@pipeline().parameters.Frequency"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "Dataset_to_incremental_landing_PG",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Set the pipeline run variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup for the Trigger Time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipeline_run",
					"value": {
						"value": "@activity('Lookup for the Trigger Time').output.firstRow.triggerNow",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lookup for the max load id from the data table",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(load_id) as max_load_id from uc3_data_PG.Data_Table_PG",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Data_Table_PG",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup for the max load id from the data table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "load_id",
					"value": {
						"value": "@add(activity('Lookup for the max load id from the data table').output.firstRow.max_load_id,1)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Dataset_to_incremental_landing_PG",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter for only csv files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter for only csv files').output.Value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFolderPath": "pravallika-pg/templandingincremental/",
										"wildcardFileName": {
											"value": "@item().name",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "incrementaltemplandingpg_uc3",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "uc3incrementallanding_PG",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Copy data1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "file_size",
								"value": {
									"value": "@activity('Copy data1').output.dataWritten",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set total rows",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set variable2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "total_rows",
								"value": {
									"value": "@activity('Copy data1').output.rowsCopied",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Get Metadata of Incremental Files",
							"type": "GetMetadata",
							"dependsOn": [
								{
									"activity": "Set total rows",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "uc3incrementallanding_PG",
									"type": "DatasetReference"
								},
								"fieldList": [
									"childItems",
									"itemName",
									"lastModified"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "Stored procedure for Bronze",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Bronze Incremental Load",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[Ingestion_Log_Details_PG]",
								"storedProcedureParameters": {
									"country_code": {
										"value": {
											"value": "@pipeline().parameters.country_code",
											"type": "Expression"
										},
										"type": "String"
									},
									"end_time": {
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										},
										"type": "Datetime"
									},
									"file_date": {
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										},
										"type": "Datetime"
									},
									"file_name": {
										"value": {
											"value": "@activity('Get Metadata of Incremental Files').output.childItems[0].name",
											"type": "Expression"
										},
										"type": "String"
									},
									"file_size": {
										"value": {
											"value": "@variables('file_size')",
											"type": "Expression"
										},
										"type": "String"
									},
									"frequency": {
										"value": {
											"value": "@pipeline().parameters.triggerNow",
											"type": "Expression"
										},
										"type": "String"
									},
									"layer": {
										"value": "Bronze",
										"type": "String"
									},
									"load_date": {
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										},
										"type": "Datetime"
									},
									"load_id": {
										"value": {
											"value": "@variables('load_id')",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"start_time": {
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										},
										"type": "Datetime"
									},
									"status": {
										"value": {
											"value": "@activity('Bronze Incremental Load').status\n",
											"type": "Expression"
										},
										"type": "String"
									},
									"total_rows_inserted": {
										"value": {
											"value": "@variables('total_rows')",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_SQL_PG",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Bronze Incremental Load",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "Get Metadata of Incremental Files",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/pravallika.gajul@shell.com/UC3/Bronze_Transformation_Ingestion_Load_PG"
							},
							"linkedServiceName": {
								"referenceName": "LS_DB_PG",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Silver Incremental Load",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "Bronze Incremental Load",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/pravallika.gajul@shell.com/UC3/Silver_Transformation_Ingestion_Load_PG"
							},
							"linkedServiceName": {
								"referenceName": "LS_DB_PG",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Gold Incremental Load",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "Silver Incremental Load",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/pravallika.gajul@shell.com/UC3/Gold_Transformation_UC3_PG"
							},
							"linkedServiceName": {
								"referenceName": "LS_DB_PG",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Stored procedure for Silver",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Silver Incremental Load",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[Ingestion_Log_Details_PG]",
								"storedProcedureParameters": {
									"country_code": {
										"value": {
											"value": "@pipeline().parameters.country_code",
											"type": "Expression"
										},
										"type": "String"
									},
									"end_time": {
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										},
										"type": "Datetime"
									},
									"file_date": {
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										},
										"type": "Datetime"
									},
									"file_name": {
										"value": {
											"value": "@activity('Get Metadata of Incremental Files').output.childItems[0].name",
											"type": "Expression"
										},
										"type": "String"
									},
									"file_size": {
										"value": {
											"value": "@variables('file_size')",
											"type": "Expression"
										},
										"type": "String"
									},
									"frequency": {
										"value": {
											"value": "@pipeline().parameters.triggerNow",
											"type": "Expression"
										},
										"type": "String"
									},
									"layer": {
										"value": "Silver",
										"type": "String"
									},
									"load_date": {
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										},
										"type": "Datetime"
									},
									"load_id": {
										"value": {
											"value": "@variables('load_id')",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"start_time": {
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										},
										"type": "Datetime"
									},
									"status": {
										"value": {
											"value": "@activity('Silver Incremental Load').status\n",
											"type": "Expression"
										},
										"type": "String"
									},
									"total_rows_inserted": {
										"value": {
											"value": "@variables('total_rows')",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_SQL_PG",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Stored procedure for Gold",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Gold Incremental Load",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[Ingestion_Log_Details_PG]",
								"storedProcedureParameters": {
									"country_code": {
										"value": {
											"value": "@pipeline().parameters.country_code",
											"type": "Expression"
										},
										"type": "String"
									},
									"end_time": {
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										},
										"type": "Datetime"
									},
									"file_date": {
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										},
										"type": "Datetime"
									},
									"file_name": {
										"value": {
											"value": "@activity('Get Metadata of Incremental Files').output.childItems[0].name",
											"type": "Expression"
										},
										"type": "String"
									},
									"file_size": {
										"value": {
											"value": "@variables('file_size')",
											"type": "Expression"
										},
										"type": "String"
									},
									"frequency": {
										"value": {
											"value": "@pipeline().parameters.triggerNow",
											"type": "Expression"
										},
										"type": "String"
									},
									"layer": {
										"value": "Bronze",
										"type": "String"
									},
									"load_date": {
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										},
										"type": "Datetime"
									},
									"load_id": {
										"value": {
											"value": "@variables('load_id')",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"start_time": {
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										},
										"type": "Datetime"
									},
									"status": {
										"value": {
											"value": "@activity('Gold Incremental Load').status\n",
											"type": "Expression"
										},
										"type": "String"
									},
									"total_rows_inserted": {
										"value": {
											"value": "@variables('total_rows')",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_SQL_PG",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Filter for only csv files",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@endswith(item().name, '.csv')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"frequency": {
				"type": "string",
				"defaultValue": "Daily"
			},
			"country_code": {
				"type": "string",
				"defaultValue": "CA"
			},
			"config_id": {
				"type": "int",
				"defaultValue": 5
			},
			"triggerNow": {
				"type": "int",
				"defaultValue": 1
			}
		},
		"variables": {
			"load_id": {
				"type": "Integer",
				"defaultValue": 1
			},
			"pipeline_run": {
				"type": "Integer",
				"defaultValue": 0
			},
			"file_size": {
				"type": "Integer",
				"defaultValue": 0
			},
			"total_rows": {
				"type": "Integer",
				"defaultValue": 0
			}
		},
		"folder": {
			"name": "UC3_PG"
		},
		"annotations": [],
		"lastPublishTime": "2024-11-13T17:30:42Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}