pipeline/SRC_Landing_Bronze_Ingestion_VM.json
{
	"name": "SRC_Landing_Bronze_Ingestion_VM",
	"properties": {
		"activities": [
			{
				"name": "Copy - Src to Temp Landing",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "source_ds",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "src_landing_ds_vm",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Load -  Temp Landing to Bronze",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy - Src to Temp Landing",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "filename",
								"value": "$$FILENAME"
							},
							{
								"name": "load_id",
								"value": {
									"value": "@variables('load_id')",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Landing_DS_VM_RK_1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Bronze_LR_VM_DS",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Bronze_Transformation",
				"description": "Adds country_cd  column and stores the data partitioned by country_cd in the bronze layer",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Load -  Temp Landing to Bronze",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/vinay.moolya@shell.com/CS1_VINAY_RK_3_Bronze_Transformation_Initial"
				},
				"linkedServiceName": {
					"referenceName": "LS_DB_VM",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Delete Copied DS in Bronze",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Bronze_Transformation",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Bronze_copied_ds",
						"type": "DatasetReference"
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Silver Transformation",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Delete Copied DS in Bronze",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/vinay.moolya@shell.com/CS1_VINAY_RK3_Silver_Transformation"
				},
				"linkedServiceName": {
					"referenceName": "LS_DB_VM",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Gold Transformation",
				"description": "Partitions based on the country_cd , Year and month",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Silver Transformation",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/vinay.moolya@shell.com/CS1_VINAY_RK_3_Gold_Transformation"
				},
				"linkedServiceName": {
					"referenceName": "LS_DB_VM",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Update the load_id",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Gold Transformation",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "load_id",
					"value": {
						"value": "@add(variables('counter'), 1)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"load_id": {
				"type": "Integer",
				"defaultValue": 1
			},
			"counter": {
				"type": "Integer",
				"defaultValue": 1
			}
		},
		"folder": {
			"name": "vinayvm/uc3"
		},
		"annotations": [],
		"lastPublishTime": "2024-11-06T16:16:56Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}