pipeline/VM_Incremental_Transformation_Bronze_2_Gold.json
{
	"name": "VM_Incremental_Transformation_Bronze_2_Gold",
	"properties": {
		"activities": [
			{
				"name": "Bronze_Transformation",
				"description": "Adds country_cd  column and stores the data partitioned by country_cd in the bronze layer",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Get Metadata of file in incremental landing",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/vinay.moolya@shell.com/CS1_VINAY_RK_3_Bronze_Transformation_Initial"
				},
				"linkedServiceName": {
					"referenceName": "LS_DB_VM",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Silver_Transformation",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Delete incremental landing copied files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/vinay.moolya@shell.com/CS1_VINAY_RK3_Silver_Transformation"
				},
				"linkedServiceName": {
					"referenceName": "LS_DB_VM",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Gold_Transformation",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Silver_Transformation",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/vinay.moolya@shell.com/CS1_VINAY_RK_3_Gold_Transformation"
				},
				"linkedServiceName": {
					"referenceName": "LS_DB_VM",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Store Bronze Level Exec info",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Bronze_Transformation",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[Log_Pipeline_Details_ADF2SQL_VM]",
					"storedProcedureParameters": {
						"country_code": {
							"value": {
								"value": "@pipeline().parameters.country_code",
								"type": "Expression"
							},
							"type": "String"
						},
						"end_timestamp": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"file_date": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"file_name": {
							"value": {
								"value": "@activity('Get Metadata of file in incremental landing').output.childItems[0].name",
								"type": "Expression"
							},
							"type": "String"
						},
						"file_size": {
							"value": {
								"value": "@pipeline().parameters.file_size",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Frequency": {
							"value": {
								"value": "@pipeline().parameters.frequency",
								"type": "Expression"
							},
							"type": "String"
						},
						"layer": {
							"value": "Bronze",
							"type": "String"
						},
						"load_date": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"load_id": {
							"value": {
								"value": "@pipeline().parameters.load_id",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"start_timestamp": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"status": {
							"value": {
								"value": "@activity('Bronze_Transformation').status",
								"type": "Expression"
							},
							"type": "String"
						},
						"total_rows_inserted": {
							"value": {
								"value": "@pipeline().parameters.total_rows_inserted",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQLDB_VM",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Store Silver level Exec info",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Silver_Transformation",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[Log_Pipeline_Details_ADF2SQL_VM]",
					"storedProcedureParameters": {
						"country_code": {
							"value": {
								"value": "@pipeline().parameters.country_code",
								"type": "Expression"
							},
							"type": "String"
						},
						"end_timestamp": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"file_date": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"file_name": {
							"value": {
								"value": "@activity('Get Metadata of file in incremental landing').output.childItems[0].name",
								"type": "Expression"
							},
							"type": "String"
						},
						"file_size": {
							"value": {
								"value": "@pipeline().parameters.file_size",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"Frequency": {
							"value": {
								"value": "@pipeline().parameters.frequency",
								"type": "Expression"
							},
							"type": "String"
						},
						"layer": {
							"value": "Silver",
							"type": "String"
						},
						"load_date": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"load_id": {
							"value": {
								"value": "@pipeline().parameters.load_id",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"start_timestamp": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"status": {
							"value": {
								"value": "@activity('Silver_Transformation').status",
								"type": "Expression"
							},
							"type": "String"
						},
						"total_rows_inserted": {
							"value": {
								"value": "@pipeline().parameters.total_rows_inserted",
								"type": "Expression"
							},
							"type": "Int64"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQLDB_VM",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Store Gold Level Exec info",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Gold_Transformation",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[Log_Pipeline_Details_ADF2SQL_VM]",
					"storedProcedureParameters": {
						"country_code": {
							"value": {
								"value": "@pipeline().parameters.country_code",
								"type": "Expression"
							},
							"type": "String"
						},
						"end_timestamp": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"file_date": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"file_name": {
							"value": {
								"value": "@activity('Get Metadata of file in incremental landing').output.childItems[0].name",
								"type": "Expression"
							},
							"type": "String"
						},
						"file_size": {
							"value": {
								"value": "@pipeline().parameters.file_size",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"Frequency": {
							"value": {
								"value": "@pipeline().parameters.frequency",
								"type": "Expression"
							},
							"type": "String"
						},
						"layer": {
							"value": "Gold",
							"type": "String"
						},
						"load_date": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"load_id": {
							"value": {
								"value": "@pipeline().parameters.load_id",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"start_timestamp": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"status": {
							"value": {
								"value": "@activity('Gold_Transformation').status",
								"type": "Expression"
							},
							"type": "String"
						},
						"total_rows_inserted": {
							"value": {
								"value": "@pipeline().parameters.total_rows_inserted",
								"type": "Expression"
							},
							"type": "Int64"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQLDB_VM",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Delete incremental landing copied files",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Bronze_Transformation",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Incremental_foreach_landing",
						"type": "DatasetReference"
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"wildcardFileName": "*.csv",
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Get Metadata of file in incremental landing",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Incremental_foreach_landing",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems",
						"itemName",
						"lastModified"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			}
		],
		"parameters": {
			"load_id": {
				"type": "int"
			},
			"country_code": {
				"type": "string"
			},
			"frequency": {
				"type": "string"
			},
			"file_size": {
				"type": "int"
			},
			"total_rows_inserted": {
				"type": "int"
			}
		},
		"folder": {
			"name": "vinayvm/uc3"
		},
		"annotations": [],
		"lastPublishTime": "2024-10-30T11:41:24Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}