pipeline/VM_Transformation_Bronze_2_Gold.json
{
	"name": "VM_Transformation_Bronze_2_Gold",
	"properties": {
		"activities": [
			{
				"name": "Bronze_Transformation",
				"description": "Adds country_cd  column and stores the data partitioned by country_cd in the bronze layer",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Copy - temp landing to Bronze",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/vinay.moolya@shell.com/CS1_OG_VINAY_RK_3_Bronze_Transformation_Initial"
				},
				"linkedServiceName": {
					"referenceName": "LS_DB_VM",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Delete_Bronze_Copied_DS",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "Bronze_Transformation",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Bronze_copied_ds",
						"type": "DatasetReference"
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					}
				}
			},
			{
				"name": "Silver_Transformation",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Delete_Bronze_Copied_DS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/vinay.moolya@shell.com/CS1_OG_VINAY_RK3_Silver_Transformation"
				},
				"linkedServiceName": {
					"referenceName": "LS_DB_VM",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Gold_Transformation",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Silver_Transformation",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/vinay.moolya@shell.com/CS1_OG_VINAY_RK_3_Gold_Transformation"
				},
				"linkedServiceName": {
					"referenceName": "LS_DB_VM",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Copy - temp landing to Bronze",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "filename",
								"value": "$$FILENAME"
							},
							{
								"name": "load_id",
								"value": {
									"value": "@pipeline().parameters.load_id",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Landing_DS_VM_RK_1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Bronze_LR_VM_DS",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Store Bronze Level Exec info",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Bronze_Transformation",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[Log_Pipeline_Details_ADF2SQL_VM]",
					"storedProcedureParameters": {
						"country_code": {
							"value": {
								"value": "@pipeline().parameters.country_code",
								"type": "Expression"
							},
							"type": "String"
						},
						"end_timestamp": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"file_date": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"file_name": {
							"value": "landing_bronze_first_load",
							"type": "String"
						},
						"file_size": {
							"value": {
								"value": "@activity('Copy - temp landing to Bronze').output.dataWritten",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"Frequency": {
							"value": {
								"value": "@pipeline().parameters.frequency",
								"type": "Expression"
							},
							"type": "String"
						},
						"layer": {
							"value": "Bronze",
							"type": "String"
						},
						"load_date": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"load_id": {
							"value": {
								"value": "@pipeline().parameters.load_id",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"start_timestamp": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"status": {
							"value": {
								"value": "@activity('Bronze_Transformation').status",
								"type": "Expression"
							},
							"type": "String"
						},
						"total_rows_inserted": {
							"value": {
								"value": "@activity('Copy - temp landing to Bronze').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQLDB_VM",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Store Silver level Exec info",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Silver_Transformation",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[Log_Pipeline_Details_ADF2SQL_VM]",
					"storedProcedureParameters": {
						"country_code": {
							"value": {
								"value": "@pipeline().parameters.country_code",
								"type": "Expression"
							},
							"type": "String"
						},
						"end_timestamp": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"file_date": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"file_name": {
							"value": "landing_silver_first_load",
							"type": "String"
						},
						"file_size": {
							"value": {
								"value": "@activity('Copy - temp landing to Bronze').output.dataWritten",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"Frequency": {
							"value": {
								"value": "@pipeline().parameters.frequency",
								"type": "Expression"
							},
							"type": "String"
						},
						"layer": {
							"value": "Silver",
							"type": "String"
						},
						"load_date": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"load_id": {
							"value": {
								"value": "@pipeline().parameters.load_id",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"start_timestamp": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"status": {
							"value": {
								"value": "@activity('Silver_Transformation').status",
								"type": "Expression"
							},
							"type": "String"
						},
						"total_rows_inserted": {
							"value": {
								"value": "@activity('Copy - temp landing to Bronze').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int64"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQLDB_VM",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Store Gold Level Exec info",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Gold_Transformation",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[Log_Pipeline_Details_ADF2SQL_VM]",
					"storedProcedureParameters": {
						"country_code": {
							"value": {
								"value": "@pipeline().parameters.country_code",
								"type": "Expression"
							},
							"type": "String"
						},
						"end_timestamp": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"file_date": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"file_name": {
							"value": "landing_gold_first_load",
							"type": "String"
						},
						"file_size": {
							"value": {
								"value": "@activity('Copy - temp landing to Bronze').output.dataWritten",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"Frequency": {
							"value": {
								"value": "@pipeline().parameters.frequency",
								"type": "Expression"
							},
							"type": "String"
						},
						"layer": {
							"value": "Gold",
							"type": "String"
						},
						"load_date": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"load_id": {
							"value": {
								"value": "@pipeline().parameters.load_id",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"start_timestamp": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "Datetime"
						},
						"status": {
							"value": {
								"value": "@activity('Gold_Transformation').status",
								"type": "Expression"
							},
							"type": "String"
						},
						"total_rows_inserted": {
							"value": {
								"value": "@activity('Copy - temp landing to Bronze').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int64"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQLDB_VM",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"load_id": {
				"type": "int"
			},
			"country_code": {
				"type": "string"
			},
			"frequency": {
				"type": "string"
			}
		},
		"folder": {
			"name": "vinayvm/uc3"
		},
		"annotations": [],
		"lastPublishTime": "2024-10-30T11:41:24Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}